<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"></script>
</head>
<body>

<h1 th:text="${park.name}"></h1>
<p th:text="${park.description}"></p>
<p th:text="${park.listedTerrain}"></p>
<p th:text="${park.allowedVehicles}"></p>
<p th:text="${park.experienceLevel}"></p>

<div class="container" th:each="day: ${forecast}">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img th:src="'images/' + ${day.displayImage} + '.png'" alt="">
            <p class="card-text" th:text="${day.forecastSummary}"></p>
            <p class="card-text" th:text="'High: ' + ${day.highTemp}"></p>
            <p class="card-text" th:text="'Low: ' + ${day.lowTemp}"></p>
            <p class="card-text" th:text="'Chance of Precipitation: ' + ${day.precipPercentage} + '%'"></p>
        </div>
    </div>
    <hr>
</div>

</div>
</body>
</html>