<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>

<div class="container" th:each="day: ${forecast}">

    <div class="card">
        <div class="card-body">
            <img th:src="'images/' + ${day.displayImage} + '.png'" th:alt="${day.displayImage}">
            <p class="card-text" th:text="'Chance of Precipitation: ' + ${day.precipPercentage} + '%'"></p>
            <p class="card-text" th:text="'High: ' + ${day.highTemp}"></p>
            <p class="card-text" th:text="'Low: ' + ${day.lowTemp}"></p>
        </div>
    </div>
    <hr>
</div>

<div class="container" id="park-details">
<h1 th:text="${park.name}"></h1>
    <form method="POST", action="/home">
        <input type="hidden" name="save" th:value="${park}">
        <input type="submit"  th:value="Save">
    </form>
    <p th:text="${park.description}"></p>

    <h3>Allowed Vehicles</h3>
    <ul th:each="vehicle : ${vehicles}">
        <li th:text="${vehicle}"></li>
    </ul>

    <h3>Available Hazards</h3>
    <ul th:each="hazard : ${hazards}">
        <li th:text="${hazard}"></li>
    </ul>

<h3>Experience Level</h3>
<ul th:each="level : ${levels}">
    <li th:text="${level}"></li>
</ul>

</div>

</body>
</html>