<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<!--  th:object="${user}"?? -->
<form method="post" th:object="${loginForm}">

    <div class="form-group">
        <label th:for="username">Username</label>
        <input type="text" class="form-control" name="username" />
    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input type="password" class="form-control" name="password" />
    </div>

    <input type="submit" value="Login" />
</form>

<nav th:replace="fragments :: footer"></nav>
</body>
</html>